$title: #e48909;
$text: white;
$icon: white;
$iconhover: #e48909;
$button: #e48909;
$background: #424242;
.barprofile{
    .cover_photo{
        img {
            padding-top: 60px;
            width: 1000px;
            margin-bottom: -10px;
            align-items: center;
            position: relative;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .header{
        .section{
            margin-left: 20px;
        }
    }
    .tabs{
        display: flex;
        justify-content: space-evenly;
    }
}