$title: #e48909;
$text: white;
$icon: white;
$iconhover: #e48909;
$button: #e48909;
$background: #424242;

.bars{
    margin-top: 90px;
    
    h1{
        color:$title;
    }
    #filter{
        float: left;
        color: $text;
        margin: {
            right: 40%;
            left: 5%;
        }
        i{
            font-size: 40px;
        }
    }
}

.maincontent{
    background-color: $background;
    margin: 20px 3% 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#barcards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#loadmore{
    display: flex;
    justify-content: center;
    button{
        border: {
            color: $button;
            style: solid;
        }
        font: {
            weight: bold;
            size: medium;
        }
        background: none;
        color: $button;
        padding: 15px 40%;
        margin-top: 5%;
        &:hover {
            background-color: $button;
            color: $text;
        }
    }    
}
