
#barcard{
    text-align: left;
    background-color: white;
    color: black;
    margin: 1em 0;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.3), 0 6px 20px 6px rgba(0,0,0,0.15);
}

#barcard:hover{
    box-shadow: 0 5px 10px 5px rgba(228,137,9,0.3), 0 6px 20px 6px rgba(0,0,0,0.2);
}
#barcard #dropdown, #barcard #closeicon{
    float: right;
    color: #424242;
}

#barcard .dropdownmodal{
    z-index: 2;
    background-color: white;
    float: inline-end;
    margin: -90px 1%;
    width: 60%;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2), 0 6px 20px 6px rgba(0,0,0,0.15);
    height: auto;
    position: relative;
}

#barcard .dropdownmodal ul{
    list-style-type: none;
    padding: 10px 0px 5px;
}

#barcard .dropdownmodal li{
    padding: 2% 10%;
}

#barcard .dropdownmodal li:hover{
    background-color: #D9D9D9;
}
#barcard p{
    color: #424242;
}
#barcard #image{
   /* background-image: url("https://pixel.nymag.com/imgs/daily/grub/2017/best-of-new-york/uws-bar-es.w710.h473.jpg");
    background-size: cover;*/
    background-color: black;
    overflow: hidden;
}

#barcard #image img{
    height: 200px;
}
#barcard #caption{
    padding: 5%;
    
}
#barcard #caption #name{
    font-weight: bold;
}