body{
    margin:0;
    
}
.navigation{
    z-index: 1000;
    background-color:#000000;
    position:fixed;
    padding:2px 2px;
    overflow:hidden;
    font-family: "Montserrat", "sans-serif"; 
    top:0;  
    width: 100%;
    min-width:720px;
    img{
        width:50px;
        margin-left: 30px;
        padding-top:3px;
        padding-bottom: 0px;
    }
}


.navigation a{
    float : left;
    color:white;
    text-align: center;
    padding:12px;
    text-decoration:none;
    font-size:16px;  
    padding-top:17px;  
}
.navigation a:hover{
    color:#e48909;

}
.pages{
    float:right;
}
