
body{
    margin:0;    
    
}
.profile_all{
    margin-top:60px;    
    min-width: 720px;
    
}

.profilenav{
    font-family: "Montserrat", "sans-serif"; 
    padding:20px;
    overflow: hidden;
    display:flex;
    width:100%;
    
}
.avatar{
    width:150px;
    height:100%;
    margin-right:40px;
    margin-left:40px;

}

.profilenav{
    background:#e48909;
 
}
li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    
}
li span{
    padding-top:10px;
}
li{
    padding: 5px;
}
li:first-child{
    font-size: 18px;
    color:black;
}
li:nth-child(2){    
    font-size:14px;
}
li:nth-child(3),li:last-child{    
    font-size:12px;
}
a{
    text-decoration: none;
}
ul  .material-icons{
    font-size:15px;
    
}